@font-face {
    font-family: odin-font;
    src: url(Norse-Bold.otf);
}

body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    display: flex;
}

.sidebar-image{
    position: relative;
    width:40vw;
    float: left;
}

.logo{
    display:flex;
    justify-content: center;
    height: 10rem;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top:23vh;
}
.logo::after{
    content: "ODIN";
    color:#fff;
    font-family: odin-font;
    font-size: 6rem;
    position: relative;
    top: 20%;
}
.logo-img{
    padding: 1rem;
}

.background-img{
    display: flex;
    width: 40vw;
    object-fit:cover;
    height: 100vh;
    position: relative;
}

.form-container{
    width: 60vw;
       background-color: rgb(248, 248, 248);
       display: flex;
       flex-direction: column;
}

.form-info{
    font-size: 1.3rem;
    padding-left: 4rem;
    margin-top:10rem;
}


.form-section{ 
    padding-left: 4rem;
    padding-bottom: 2rem;
    margin-top:2rem;
    background-color: #fff;
    box-shadow: 0 3px 10px -2px gray;
}

#signup-form{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.form-section > p{
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0;
}

.input-row{
    display: flex;
    gap:5rem;
}

.submit-button{
    color:#fff;
    font-size: 1rem;
    font-weight: bold;
    height:3rem;
    width: 12rem;
    border: 2px solid #596D48;
    box-shadow: 0 7px rgb(37, 65, 37);
    border-radius: 5px;
    background-color: #596D48;
}
.submit-button:active {
    box-shadow: 0 0px rgb(37,65,37);
    transform: translateY(4px);
}

a{
    text-decoration: none;
    color:#596D48;
}

.submit-button, .submit-text{
    margin-left: 4rem;
    margin-top:2rem;
}

label{
    font-family:'Courier New', Courier, monospace;
    color:rgb(32, 32, 31);
}

input[type]{
    appearance: none;
   height: 1.8rem;
   width: 16.5rem;
   border: 1px solid #E5E7EB;
   border-radius: 5px;
}


input[type="text"]:focus:invalid,
input[type="email"]:focus:invalid,
#password:focus:invalid
{
    outline: none;
    border-color: rgb(252, 78, 78);
    box-shadow: 0 3px 2px -2px gray;
    background-color: rgb(250, 209, 209);
}

input[type="text"]:focus:valid,
input[type="email"]:focus:valid,
#password:focus:valid
{
    outline:none;
    background-color:rgb(232, 240, 254);
    border-color: rgb(63, 162, 228);
    box-shadow: 0 3px 2px -2px gray;
}

input[type="text"]:valid,
input[type="email"]:valid,
#password:valid
{
    background-color: rgb(232, 240, 254);
}

#confirm-password:focus{
    outline: none;
    border-color: rgb(252, 78, 78);
    box-shadow: 0 3px 2px -2px gray;
    background-color: rgb(250, 209, 209);
}

.no-match-info::after{
    content:"*Passwords do not match";
    font-size: 1rem;
    color: rgb(197, 38, 38);
}

.yes-match{
    outline:none;
    background-color:rgb(232, 240, 254);
}